<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="text">
            {{comment_text}}
        </div>
        <div>
            - by {{user.username}} on {{prettify_date created_at}}
        </div>
    </section>
    {{/each}}
</div>