<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>The Tech Blog</title>
</head>
<body>
    <header>
        <h1><a id="logo" href="/" title="Return Home">The Tech Blog</a></h1>
        <nav>
            {{#if loggedIn}}
            <a href="/dashboard" title="Your Dashboard"><button>Dashboard</button></a>
            <button id="logout" title="Logout">Logout</button>
            {{else}}
            <a href="/login"><button>Login</button></a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>