<section id="new-post-form-display">
    <form class="new-post-form">
        <div>
            <label for="post-title">TITLE</label><br>
            <input type="text" id="post-title" name="post-title">
        </div>
        <div>
            <label for="post-contents">CONTENTS</label><br>
            <textarea name="post-contents" id="post-contents"></textarea>
        </div>
        <button type="submit">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2 class="your-posts-title">Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">
            <li>
                {{> post-info post}}
            </li>
        </a>
        {{/each}}
    </ol>
</section>
{{/if}}
<div id="newPostBtnDisplay">
    <button id="addNewPostBtn">NEW POST +</button>
</div>
<script src="/javascript/add-post.js"></script>